@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

html {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.015em;
  @apply text-gray-900;
}
input,
textarea {
  font-size: 16px; /* Prevent zooming on iOS */
  transform: scale(0.875); /* Scale down to visually appear as 14px */
  transform-origin: left; /* Ensure scaling starts from the left */
}

/* Adjust the width to compensate for the scaling */
input[type="text"] {
  width: calc(100% / 0.875); /* Adjust width if necessary */
}

input:focus {
  outline: none;
}
.box::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

* {
  line-height: 1.4;
  &::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  box-sizing: border-box;
}

@layer components {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .max-w-page {
    @apply max-w-[500px];
  }
}

@layer base {
  html {
    font-family: "Pretendard";
  }
}

.slick-dots {
  bottom: -45px !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 9px !important;
  height: 9px !important;
}

.slick-dots li button {
  width: 9px !important;
  height: 9px !important;
}

.slick-dots li.slick-active button:before {
  color: #2fa464 !important;
}

.slick-dots li button:before {
  color: #e5e5eb !important;
  opacity: 1 !important;
}

@keyframes move {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-7s {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-9s {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-11s {
  100% {
    transform: rotate(360deg);
  }
}

.animate-move {
  animation: move 3s infinite linear;
}

.animate-move-7s {
  animation: move-7s 7s infinite linear;
}

.animate-move-9s {
  animation: move-9s 9s infinite linear;
}

.animate-move-11s {
  animation: move-9s 11s infinite linear;
}
