.speech-bubble {
  position: relative;
  border-radius: 8000px;
  box-shadow: 4px 4px 16px 0px #0000001a;
}

.speech-bubble:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  margin-left: -8px;
  margin-bottom: -8px;
  box-shadow: 4px 4px 16px 0px #0000001a;
}
